body{
    padding:0;
    margin:2%;
    margin-top:1%;
    text-align: center;
}

h1{
    text-align: left;
    color: grey;
    font-family: "Times New Roman", Times, serif;
    margin:0;
}

a{
    font-family: "Times New Roman", Times, serif;
}

p{
    color: grey;
    font-family: "Times New Roman", Times, serif;
}

#menu li{
    display: inline;
    margin:1%;
}

a{
    color: grey;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: red;
    text-decoration: none;
    font-weight: bold;
}


#menu{
    text-align: right;
    list-style: none;
    margin:0;
    margin-top: -1%;
    margin-right: 1%;
}

.post{
    margin-top:2%;
    align-items: top; 
    display:flex;
}

.post .details{

    width: 30%;
    display:inline-block;
    text-align: left;
    margin:0px;
    padding:0px;
}

.post .details h2 a{
    color: red;
}

.post .details h2 a:hover{
    color: grey;
}

.post .details .info{
    color:grey;
    font-style: italic;
}

.post .details .info a{
    font-style: normal;
}

.post .body{
    width: 65%;
    display:inline-block;
    text-align: left;
    margin:0px;
    padding:0px;
    margin-right: 2%;
    color:grey;
}


.col, .col.last{
    display:inline-block;
    width:30%;
    min-width:250px;
    text-align: left;
    padding:1%;
}

.col h3 a{
    color: black;
    cursor: default;
}

.det a, #footer p a{
    color:red;
}

.det a:hover, #footer p a:hover{
    color:grey;
}

#footer{
    text-align: left;
}