body {
    background-color: #1B1328;
    padding:0;
    margin:0;
    text-align: center;
}

p{
	color: #ded0d9;
	padding:0;
    margin-bottom: -2.5%;
    line-height: 1.6;
}


div{
	margin:3%;
}

table{
	width:90%;
	border-collapse: collapse;
}

table, td, th {
    border: 2px solid #86003f;
}